body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background: #02020A;
    color: #DDE3FF;
    scroll-behavior: smooth;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background: rgba(5,5,25,0.4);
    backdrop-filter: blur(6px);
    transition: 0.3s;
    z-index: 10;
}

.navbar.scrolled {
    background: rgba(5,5,25,0.9);
    box-shadow: 0 0 20px #000;
}

.logo {
    font-size: 1.5rem;
    color: #00E6FF;
    font-weight: bold;
}

.logo span {
    color: #B400FF;
}

nav a {
    margin-left: 20px;
    color: #DDE3FF;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover {
    color: #00E6FF;
}

.hero {
    text-align: center;
    padding-top: 160px;
    padding-bottom: 150px;
}

.glow {
    font-size: 4.5rem;
    color: #00E6FF;
    text-shadow: 0 0 25px #00E6FF;
}

.glow span {
    color: #B400FF;
    text-shadow: 0 0 25px #B400FF;
}

.hero h2 {
    color: #B400FF;
}

.hero p {
    opacity: 0.8;
}

.btn {
    margin-top: 20px;
    padding: 15px 35px;
    background: #00C8FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.2s;
}

.btn:hover {
    background: #00E6FF;
    transform: scale(1.05);
}

.sobre {
    max-width: 900px;
    margin: auto;
    padding: 40px;
    text-align: center;
}

.highlight {
    color: #00C8FF;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card {
    background: #080820;
    padding: 30px;
    width: 260px;
    border-radius: 12px;
    border: 1px solid #1A1A40;
    transition: 0.25s;
    opacity: 0;
    transform: translateY(40px);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #0ff5;
}

.card h3 {
    font-size: 2.2rem;
    color: #B400FF;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
    transition: 0.8s ease-out;
}

@media (max-width: 768px) {

    .glow {
        font-size: 3rem;
    }

    nav {
        display: none;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}

